.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #a2ff86;
  color: white;
  padding: 0 10%;
  font-family: "Montserrat", sans-serif;
  height: 5rem;
}

.navigation {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
}

/* Additional styles for the navigation links */
.navigation a {
  text-decoration: none;
  color: inherit;
}

.brand {
  font-size: 2.5rem;
}
