.tooltip {
  position: absolute;
  background: #a2ff86; /* Transparent background */
  border-radius: 10px; /* Rounded corners */
  padding: 10px;
  z-index: 1;
  top: 5rem; /* Adjust the distance from the top */
}

.tooltip div {
  margin-bottom: 5px;
  cursor: pointer;
}

/* Show the tooltip when hovered */
div:hover .tooltip {
  display: block;
  text-decoration: none;
}

/* .main-div {
    cursor: 'pointer';
    height: 'inherit';
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    justify-content: 'center';
} */
